@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

body {
  font-family: "Fira Code", monospace !important;
  /* background-image: url("../public/bagroundImage.webp"); */
  background-attachment: fixed;
  background-color: #f1f3f5 !important;
}
nav.header a,.tabContainer button,.formDiv h2,.formDiv label,.Form input, .Form select,.buttDiv button,.individualBox {
  color: #000 !important;
}
.searchBox input,.Form,
form.auth-container,
.auth-field input,
.auth-field select,
.auth-button,
.navbar-expand-lg .navbar-nav .dropdown-menu,
nav.header,
.displayContainer,
.Form input,
.buttDiv button,
.Form select,
.individualBox,
.tabContainer button,.dropdown-divider {
  /* border:2px solid #000 !important; */
}

.displayBox::-webkit-scrollbar {
  width: 7px;
}
form.auth-container {
  backdrop-filter: blur(20px);
  background: #fff !important;
  border: 1px solid #fff;
  color: #000;
}
.auth-container {
  max-width: 400px;
  margin: 10% auto;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  font-family: "Segoe UI", sans-serif;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #000;
}

.auth-field {
  margin-bottom: 1rem;
}

.auth-field label {
  display: block;
  margin-bottom: 0.5rem;
  color: #000;
  font-size: 0.95rem;
}

.auth-field input,
.auth-field select {
  width: 95%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 1rem;
  transition: border-color 0.2s ease;
  background: transparent;
  color: #000;
}

.auth-field input:focus,
.auth-field select:focus {
  /* border-color: #0077ff; */
  outline: none;
}

.auth-error {
  color: #e63946;
  font-size: 0.85rem;
  margin-top: 0.3rem;
}
.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-wrap button {
    background: transparent;
    font-size: 18px;
}

.auth-button button {
  width: auto;
  background: transparent !important;
  color: #000 !important;
  padding: 12px;
  font-size: 1rem;
  border-radius: 7px;
  border: 1px solid #fff;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background: #444;
  color: #fff;
}

.auth-switch {
  text-align: center;
  margin-top: 1.2rem;
  font-size: 0.9rem;
}

.auth-switch a {
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
  text-decoration: none;
  font-weight: 700;
}

.auth-switch a:hover {
  text-decoration: underline;
}
.header img {
  width: 60px;
  height: auto;
  object-fit: contain;
}
button.log-button {
  margin-left: 7px;
  background: #4a5464;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button.log-button:hover {
  background: #444;
  color: #fff;
}


.navbar-expand-lg .navbar-nav .dropdown-menu {
  backdrop-filter: blur(20px);
  background: #f0f0e2;
  border: 1px solid #fff;
}
.dropdown-item {
  background-color: transparent !important;
}
.dropdown-divider {
  border-top: 1px solid #ffffff;
}
nav.header {
  top: 0;
  z-index: 999;
  background: #fff !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
p.text-sm {
  margin: 0 12px;
}
.home-div img {
  max-width: 400px;
}
.infoWrapper {
  padding-top: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.Form input,
.Form select {
  background: transparent;
  color: #fff;
}

.Form {
  /* display: none; */
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: auto;
  color: #fff;
background-color: #fff;
  border: 1px solid;
  backdrop-filter: blur(20px);
}
.displayContainer {
  /* width: 60%; */
  width: 100%;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-position: center;
  background-size: cover;
  color: #fff;
  border: 1px solid;
  /* overflow: hidden; */
      filter: drop-shadow(-4px 5px 5px black);

}
.tab-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.displayContainer {
  background-color: #fff;
  min-height: 500px;
  max-height: 700px;
}
.formContainer {
  width: 30%;
}
.formDiv {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
}
.formDiv label {
  text-align: left;
}
.Form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}
.buttDiv {
  display: flex;
  justify-content: center;
}
.buttDiv button {
  padding: 7px 15px;
  border-radius: 7px;
  border: 1px solid #ccc;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  color: #fff;
}
.buttDiv button:hover {
    background: #444;
    color: #fff !important;
}

.displayBox {
  min-height: 520px;
  max-height: 520px;
  width: auto;
  overflow-y: scroll;
  border-radius: 7px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-position: center;
  background-size: cover;
  color: #fff;
  /* scrollbar-width: thin; */
  /* scrollbar-color: #c014b5 #ffffff04; */
}

.Form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}
.cardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.clientCard {
  background: #f5f5f5;
  border-radius: 7px;
  padding: 16px;
  width: 220px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.clientCard:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.individualBox {
      border: 1px solid #000;
  border-radius: 7px;
  padding: 16px;
  width: 23%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  margin-top: 2px;
  text-align: left;
}
.tabContainer button {
  background: transparent;
  color: #fff;
  border: 1px solid #000;
  border-radius: 7px;
  padding: 5px 7px;
  font-size: 18px;
  backdrop-filter: blur(20px);
}
.individualBox h3 {
  text-transform: uppercase;
  color: #fe7743;
  font-weight: 700;
  /* filter: drop-shadow(2px 1px 1px black); */
}
.tabContainer .activeTab {
  background-color: #444 !important;
  color: #fff !important;
}
.firstTab button {
    background: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: 7px;
    padding: 5px 7px;
    font-size: 18px;
    margin-bottom: 20px;
    /* backdrop-filter: blur(20px); */
}
.displayWrapper {
  /* max-height: 700px;
  overflow: hidden; */
}
.displayBox2 {
  margin-bottom: 5%;
}
.nameHead {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 15px;
  /* width: max-content; */
  padding: 1px 7px;
  border-radius: 7px;
}
.nameHead h3 {
  margin: 0;
}
.dflex {
    display: flex;
    align-items: center;
    gap: 5px;
}
.dflex button {
    background: transparent;
    color: #000;
    border: 1px dashed #000;
    padding: 5px 7px;
    font-size: 18px;
    backdrop-filter: blur(20px);
    border-radius: 7px;
}
.individualBox .nameHead .dflex div{
  width: 25px;
  height: 25px;
}
.red {
  background-image: url("../public/face.png");
  background-size: cover;
}
.green {
  background-image: url("../public/smiling-face.png");
  background-size: cover;
  filter: hue-rotate(45deg);
}
.detailsFlex {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.details2 p {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: monospace;
  /* filter: drop-shadow(2px 4px 6px black); */
}
.details2 {
  margin-right: 10%;
}
.searchBox input:focus-visible,
.searchBox:focus-visible {
  outline: none !important;
}
.searchBox input {
  background: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: 7px;
  padding: 5px 7px;
  font-size: 18px;
  backdrop-filter: blur(20px);
}
.Mymodal .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.Mymodal .modal-content {
  background: white;
  padding: 20px;
  width: 600px;
  border-radius: 10px;
}
.Mymodal .modal-content form {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.modal-content form input, .modal-content form select{
    padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 18px;
  outline: none;
  transition: border-color 0.2s;
      margin-bottom: 20px;
}
.edit-btn {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.edit-btn button{
    width: auto;
  background: transparent !important;
  color: #000 !important;
  padding: 7px;
  font-size: 1rem;
  border-radius: 7px;
  border: 1px solid #000;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}
.dashboard {
  display: flex;
  height: 91vh;
  font-family: sans-serif;
  color: #fff;
}
aside.sidebar a {
    color: #fff;
}

.sidebar {
  width: 220px;
  background-color: #303030;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.sidebar nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 12px;
  padding: 8px 0;
  transition: color 0.3s;
}

.sidebar nav a:hover {
  color: #007bff;
}

.main {
  flex: 1;
  padding: 30px;
  background-color: #f1f3f5;
  overflow-y: auto;
}

.widgets {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.widget {
  flex: 1;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  border-radius: 8px;
}


/* table */
.clientTableWrapper {
    overflow: scroll;
    max-height: 500px;
    margin-top: 20px;
}

.clientTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-family: Arial, sans-serif;
}

.clientTable th,
.clientTable td {
  padding: 12px 13px;
  border: 1px solid #ccc;
}

.clientTable thead {
  background-color: #444;
  color: #fff;
}

.rowLight {
  background-color: #f1f3f5;
  color: #000;
}

.rowDark {
  /* background-color: #303030; */
  color: #000;
}

.statusDot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
td.clientName {
    text-transform: capitalize;
}
.green {
  background-color: green;
  color: green;
}

.red {
  background-color: red;
  color: red;
}

.clientTable button {
  margin-right: 6px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.rowDark .clientTable button {
  color: #fff;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.modal-close {
    position: absolute;
    top: 30px;
    right: 40px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 9;
}



@media (max-width: 768px) {
  .formContainer,
  .displayContainer {
    width: 100%;
  }
  .auth-container {
    margin: 30% auto;
  }
  .header img {
    width: 30px;
  }
  .infoWrapper {
    margin: 20px;
    /* gap: 30px; */
  }
  .displayContainer {
    padding: 30px 15px;
    backdrop-filter: blur(20px);
  }
  .tabContainer button {
    padding: 5px 6px;
  }
  .displayBox2 {
    margin-bottom: 35%;
  }

  body {
    background-position: center;
  }
  button {
    font-size: 13px !important;
  }
  .details2 p {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .detailsFlex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .nameHead {
    width: 100%;
    justify-content: center;
  }
    .dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    transform: translateY(0);
  }

  .content {
    padding: 15px;
  }
  .main {

    padding: 5px;

}
.tab-wrapper {
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}
.tabContainer {
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.tabContainer {
    gap: 15px !important;
}
.displayContainer {

    max-height: unset;
}
.modal-content {

    max-width: 400px;

}
aside.sidebar nav {
    display: flex;
    justify-content: space-around;
}
}

@media (min-width:1024px){
  .dashboard{
    margin-top: 5%;
}
nav.header {
    top: 0;
    z-index: 999;
    /* background: transparent !important; */
    position: fixed;
    width: 100%;
    background: #fff;
}
}
